@charset "utf-8";
/* CSS Document */

body{
	margin:0;
	padding:0;
	background-color:#00CCCC;
	font-family:"Segoe UI", "Trebuchet MS", Verdana;
}
div#headTop, div#signFoot{
		background-image:-moz-linear-gradient(bottom, #008888, #009999);
		background-image:-webkit-linear-gradient(bottom, #008888, #009999);
		box-shadow:1px 1px 3px 1px #444;
	background-color:#009999;
	width:100%;
	color: #555;
}
	div#headTop{
		position:fixed;
		top:0;
		padding: 20px;
		padding-right:0;
		font-size:32px;
	}
	div#signFoot{
		position:absolute;
		bottom:0;
		padding-top: 5px;
		padding-bottom: 5px;
		font-size:12px;
		text-align:center;
	}
div#headTop:hover, div#signFoot:hover{
	color: #222;
}
div#contenMid{
	padding:20px;
	margin-top:100px;
	font-size:16px;
}
	div#contenMid .leftMenu, div#contenMid .rightContent{
		min-height:100px;
		display:inline;
		float:left;
	}
	.leftMenu {
		width:250px;
	}
	.leftMenu > span, .leftMenu > a, .rightContent > span{
		display:block;
		padding:10px;
		border-radius: 10px;
	}

	div#contenMid .leftMenu span, div#contenMid .rightContent span{
		background-image:-moz-linear-gradient(top, #005555, #004444);
		background-image:-webkit-linear-gradient(top, #005555, #004444);
		background-color:#005555;
		color:#CCC;
		border-bottom:#003333 1px solid;
		margin-bottom:5px;
		font-weight:bold;
	}
	div#contenMid .leftMenu a#menuU{
		text-decoration:none;
		margin:5px;
		-moz-transition: all 0.26s ease-out;
		-webkit-transition: all 0.26s ease-out;
	}
	a.addData, a.viewData, a.editData, a.exit{
		border-bottom:#005555 2px solid;
		background-image:-moz-linear-gradient(top, #007777, #006666);
		background-image:-webkit-linear-gradient(top, #007777, #006666);
		color: #009999;
	}
	div#contenMid .leftMenu a#menuU:before{
		content: ' *';
	}

	div#contenMid .leftMenu a#menuU:hover, a.active{
		color:#FFF;
		-moz-transform:scale(1.1);
		-webkit-transform:scale(1.1);
		padding-left:20px;
		border-color:#004444;
		background-image:-moz-linear-gradient(top, #008888, #007777);
		background-image:-webkit-linear-gradient(top, #008888, #007777);
	}
	
	div#contenMid .rightContent{
		width:800px;
		margin-left:30px;
		padding:10px;
		padding-top:0;
	}
/** table content **/
	.rightContent table thead{
		color: #009999;
		background-image:-moz-linear-gradient(top, #006666, #005555);
		background-image:-webkit-linear-gradient(top, #009999, #008888);
	}	
	.rightContent table tbody tr{
		color:#003333;
		background-image:-moz-linear-gradient(top,  #009999,  #008888);
		background-image:-webkit-linear-gradient(top,  #009999,  #008888);
		text-transform:capitalize;
	}	
	.rightContent table tbody tr:hover{
		color:#001111;
		background-image:-moz-linear-gradient(top,  #007777,  #006666);
		background-image:-webkit-linear-gradient(top, #007777, #006666);		
	}
/** FORM **/
form#formAdd input{
	text-transform:capitalize;
	padding:5px;
	margin:4px;
}		
